/* footer.css */

.footer {
    display: flex;
    color:rgb(167, 189, 207);
    justify-content: center; 
    align-items: center; 
    height: 100px; 
    background-color: #3e3e4b; 
  }
  
  .footer p {
    margin: 0; 
    font-size: 0.8rem;
  }
  