body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.jumbotron {
    border-radius: 8px;
    padding: 20px;
    color: #fff;
    margin-top:30;
}

.btn {
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.btn-info.btn-circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-white {
    color: #fff !important;
}

.text-info {
    color: #17a2b8 !important;
}

.text-warning {
    color: #ffc107 !important;
}

.bg-blue {
    background-color: #007bff !important;
}

.bg-gray-900 {
    background-color: #2d2d2d !important;
}

.card {
    border-radius: 8px;
    overflow: hidden;
}

.card-body {
    padding: 20px;
    display: flex;
    align-items: center;
}

.col-auto {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-2x {
    font-size: 2rem;
}

.text-gray-300 {
    color: #adb5bd;
}

.card.border-left-primary {
    border-left: 4px solid #007bff;
}

.card.border-left-warning {
    border-left: 4px solid #ffc107;
}

.card.border-left-danger {
    border-left: 4px solid #dc3545;
}

.card.border-left-success {
    border-left: 4px solid #28a745;
}

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.embed-responsive-16by9::before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
}
